In [55]:
import pandas as pd
import plotly.offline as py
import plotly.graph_objs as go

In [56]:
missing_values = ["n/a", "none", "NaN", "--"]
Median_income_state = pd.read_excel('Median_Income_State.xls')
Median_income_state = Median_income_state.dropna()

In [64]:
Median_income_state.tail()

,State,Median income_2016,Standard error_2016,Median income_2015,Standard error_2015,Median income_2014,Standard error_2014
47,Virginia,66451,2436,61486,2439,66155,2946
48,Washington,70310,2092,67243,3253,59068,2195
49,West Virginia,44354,1994,42824,3132,39552,2195
50,Wisconsin,59817,1845,55425,1487,58080,2154
51,Wyoming,57829,3122,60925,2024,55690,2019

In [75]:
Median_income_state.to_excel(r'C:\Github\Project 3\Median_income_final.xls')

PermissionError: [Errno 13] Permission denied: 'C:\\Github\\Project 3\\Median_income_final.xls'

In [74]:
df = pd.read_excel('Median_income_final.xls')
df.head

<bound method NDFrame.head of              State  Medianincome_2016  Standarderror_2016  Medianincome_2015  \
0    United States              59039                 436              56516
1          Alabama              47221                2301              44509
2           Alaska              75723                4086              75112
3          Arizona              57100                1971              52248
4         Arkansas              45907                2165              42798
5       California              66637                1075              63636
6         Colorado              70566                4125              66596
7      Connecticut              75923                3404              72889
8         Delaware              58046                2992              57756
9             D.C.              70982                2734              70071
10         Florida              51176                 835              48825
11         Georgia              53527                1679              50768
12          Hawaii              72133                2510              64514
13           Idaho              56564                1261              51624
14        Illinois              61386                1761              60413
15         Indiana              56094                2877              51983
16            Iowa              59094                2484              60855
17          Kansas              56810                3268              54865
18        Kentucky              45369                2005              42387
19       Louisiana              42196                1197              45922
20           Maine              50856                3346              50756
21        Maryland              73760                2591              73594
22   Massachusetts              72266                2911              67861
23        Michigan              57091                1908              54203
24       Minnesota              70218                4045              68730
25     Mississippi              41099                1226              40037
26        Missouri              55016                1719              59196
27         Montana              57075                2880              51395
28        Nebraska              59374                2678              60474
29          Nevada              55431                2137              52008
30   New Hampshire              76260                2913              75675
31      New Jersey              68468                2867              68357
32      New Mexico              48451                2961              45119
33        New York              61437                1405              58005
34  North Carolina              53764                1629              50797
35    North Dakota              60184                2290              57415
36            Ohio              53985                1894              53301
37        Oklahoma              50943                1652              47077
38          Oregon              59135                2622              60834
39    Pennsylvania              60979                2036              60389
40    Rhode Island              61528                2828              55701
41  South Carolina              54336                3153              46360
42    South Dakota              57450                3075              55065
43       Tennessee              51344                1387              47330
44           Texas              58146                1407              56473
45            Utah              67481                2237              66258
46         Vermont              60837                1364              59494
47        Virginia              66451                2436              61486
48      Washington              70310                2092              67243
49   West Virginia              44354                1994              42824
50       Wisconsin              59817                1845              55425
51         Wyoming              57829                3122              60925

    Standarderror_2015  Medianincome2014  Standarderror_2014
0                  321             53657                 392
1                 3419             42278                1529
2                 3485             67629                3153
3                 2008             49254                2304
4                 1572             44922                2546
5                 1711             60487                 894
6                 3682             60940                2414
7                 4449             70161                2665
8                 3392             57522                2970
9                 2861             68277                4402
10                1395             46140                 950
11                1401             49555                2009
12                2840             71223                2676
13                1260             53438                2572
14                1999             54916                1625
15                1682             48060                1943
16                3275             57810                3425
17                3731             53444                2863
18                2269             42786                1580
19                2140             42406                1862
20                1929             51710                2171
21                2692             76165                4272
22                2790             63151                2662
23                2005             52005                1199
24                3063             67244                3207
25                1071             35521                1294
26                2607             56630                3030
27                2937             51102                1778
28                2937             56870                2254
29                2272             49875                1836
30                3519             73397                3253
31                3132             65243                2693
32                2885             46686                3312
33                2205             54310                1781
34                1343             46784                1710
35                3233             60730                3138
36                1957             49644                1393
37                1937             47199                2775
38                2374             58875                2998
39                2227             55173                2266
40                3247             58633                4001
41                2266             44929                2244
42                2604             53053                3542
43                1708             43716                2326
44                1289             53875                1344
45                2462             63383                3231
46                2622             60708                3098
47                2439             66155                2946
48                3253             59068                2195
49                3132             39552                2195
50                1487             58080                2154
51                2024             55690                2019  >

In [67]:
for col in df.columns:
    df[col] = df [col].astype(str)

In [68]:
scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

df['text'] = df['State'] + '<br>' + \
    'Median income_2016 ' + df['Medianincome_2016'] + 'Standarderror_2016' + df['Standarderror_2016'] + '<br>' + \
    'Medianincome_2015' + df['Medianincome_2015'] + 'Standarderror_2015' + df['Standarderror_2015']

In [69]:
data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df['State'],
    z = df['Standarderror_2016'].astype(float),
    locationmode = 'USA-states',
    text = df['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Medicare Healthcare")
)]

In [77]:
layout = go.Layout(
    title = go.layout.Title(
        text = '2015-2016 US Medicare HealthCare Exports by State<br>'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.offline.iplot(fig, filename = 'd3-cloropleth-map')

In [ ]:
# import glob
# import os

# path = 'C:\Github\Project 3\Zip Code XLS 2015\Zip Code XLS 2015' # use correct path for your folder having excel files
# all_files = glob.glob(os.path.join(path, "*.xls"))

# for file in all_files:
#     df_temp = pd.read_excel(file)
#     mylist = ['Unnamed: 15']
#     df_temp = df_temp[mylist]
#     print(file, df_temp.shape)

# # df= pd.concat((pd.read_excel(f) for f in all_files))

In [ ]:
df_temp.info()
df_temp.columns

In [ ]:
mylist = ['Unnamed: 1', 'Unnamed: 16']
df_temp_new = df_temp[mylist]

df_temp1.columns

In [ ]:
final_df = income_2015_data.rename(index=str, columns={"Unnamed: 1": "WYOMING", "Unnamed: 15": "Number of tax return elderly"})
final_df.head()